* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #242424;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: .5em;
  font-weight: 400;
  font-family: 'Open Sans Condensed', sans-serif;
}
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 400;
  display: flex;
  img {
    max-width: 100%;
  }
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
a, a:hover, a:visited {
  text-decoration: none;
}
input, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  outline: none;
}
input[type="submit"], button {
  cursor: pointer;
}
input[type="number"] {
  border: 1px solid #b7b7b7;
  padding: .3em .6em;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.label {
  display: block;
  font-size: .85em;
  margin: .5em 0;
  &--custom {
    border: 1px solid #ccc;
    margin-top: 1em;
    padding: .2em;
    display: flex;
    justify-content: space-between;
  }

}
.btn {
  background-color: purple;
  color: #fff;
  padding: .3em .8em;
}
.btn-speak {
  background: url(./icon-speak.svg) no-repeat center right;
  background-size: .8em;
  display: flex;
  cursor: pointer;
  span {
    width: calc(100% - 90px);
  }
}
[disabled] {
  cursor: not-allowed;
  background-color: #9b9b9b;
}
.chat {
  width: 900px;
  max-width: 80%;
}
.question {
  width: calc(100% - 2em);
  background-color: #fff;
  box-shadow: 0px 0px 3px purple;
  margin: 1em 1em 2em;
  padding: .6em 1em;
  border-radius: 4px;
  .btn-speak:not(:first-of-type) {
    margin-top: .7em;
    border-top: 1px solid #b7b7b7;
    padding-top: .4em;
  }
  &--images {
    display: flex;
  }
}

[data-current] {
  display: none;
}
[data-current="true"] {
  display: flex;
  flex-direction: column;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &[data-current="true"] {
    display: flex;
  }
  justify-content: center;
  align-items: center;
  flex-direction: column;
  video {
    width: 100%;
  }
  .js-btn-continue {
    visibility: hidden;
  }
}
.mensaje {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  color: #fff;
}

.sp-wave {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
	border-radius: 50%;
	position: relative;
	opacity: 1;
}
$spCol: #fff;
.sp-wave:before, .sp-wave:after  {
	content:'';
	border: 1px $spCol solid;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
}
.sp-wave:before {
	transform: scale(1,1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
	transform: scale(0,0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}
@keyframes spWaveAf {
	from { transform: scale(0.5,0.5); opacity: 0; }
	to { transform: scale(1,1); opacity: 1; }
}
@keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}